/* Début menu | Matthieu & Clément */

/* Fin menu  */



/* Début annonce | Dimitry & Téo */


#news
{
	background-color: darkgoldenrod;
	padding: 50px;
    text-align: center;
}

#news h1 { margin: 0; }

/* Fin annonce */


/* Début bloc articles | Valentin & Lilian */

/* Fin bloc articles */



/* Début footer | Mathieu & Aurore */

/* Fin footer */
